<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cast Your Vote</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css"> <!-- Link to CSS -->
</head>
<body>
    <!-- Background layers for stars, twinkling, and shooting stars -->
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="shooting-stars"></div>

    <div class="container">
        <h1 class="text-center my-4 text-light">Cast Your Vote</h1>

        {% if election_status == 'ongoing' %}
            <p class="text-center text-danger">An election is currently ongoing. Please wait until it ends to start a new one.</p>
        {% endif %}

        {% if candidates and election_status == 'ongoing' %}
            <form method="POST" action="/">
                <p class="text-center text-light">Remaining Votes: {{ remaining_votes }}</p>
                <div class="row justify-content-center">
                    {% for candidate in candidates %}
                        <div class="col-md-4 mb-2">
                            <button type="submit" name="candidate" value="{{ candidate }}" class="btn btn-primary btn-block">{{ candidate }}</button>
                        </div>
                    {% endfor %}
                </div>
            </form>
        {% endif %}

        {% if election_status == 'not_started' or election_status == 'ended' %}
            <a href="{{ url_for('choose_category') }}" class="btn btn-success btn-block mb-2">Vote on Restaurants</a>
        {% endif %}

        <a href="{{ url_for('results') }}" class="btn btn-info btn-block">View Current Results</a>
    </div>

    <script src="static/shooting-stars.js"></script> <!-- Link to CSS -->
</body>
</html>